.subscribe-button {
  background-color: rgb(200, 0, 0);
  color: white;
  border: none;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
}

.subscribe-button:hover {
  opacity: 0.7;
}

.subscribe-button:active {
  opacity: 0.5;
}

.join-button {
  background-color: white;
  color: rgb(0, 94, 255);
  border-color: rgb(0, 94, 255);
  border-style: solid;
  border-radius: 2px;
  border-width: 1px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 16px;
  padding-right: 16px;
  cursor: pointer;
  margin-right: 8px;
}

.join-button:hover {
  opacity: 0.7;
}

.join-button:active {
  opacity: 0.5;
}

.tweet-button {
  background-color: rgb(39, 128, 230);
  color: white;
  border: none;
  border-radius: 17px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 16px;
  padding-right: 16px;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
}

.tweet-button:hover {
  opacity: 0.7;
}

.tweet-button:active {
  opacity: 0.5;
}

.Amazon-button {
  background-color: rgb(255, 216, 20);
  border: none;
  color: black;
  border-radius: 15px;
  height: 30px;
  width: 150px;
  cursor: pointer;
}

.Amazon-button:hover {
  opacity: 0.7;
}

.Amazon-button:active {
  opacity: 0.5;
}