p {
  font-family: Arial;
}

.video-title {
  font-size: 25px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 6px;
}

.view-text {
  font-size: 13px;
  color: rgb(118, 115, 115);
  margin-top: 0px;
}

.name-text {
  font-size: 13px;
  color: rgb(55, 54, 54);
}

.video-description {
  font-size: 13px;
  color: rgb(57, 56, 56);
  width: 270px;
  line-height: 20px
}

.advert-text {
  background-color: red;
  color: white;
  text-align: center;
  width: 400px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.shop-text {
  cursor: pointer;
}

.shop-text:hover {
  text-decoration: underline;

  color: rgb(183, 0, 0);
}