.thumbnail {
  width: 100%;
}

.video-title {
  margin-top: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  margin-bottom: 11px;
}

.video-author,
.video-stats {
  font-size: 12px;
  color: rgb(96, 96, 96);
}

.video-author {
  margin-bottom: 14px;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.profile-picture {
  width: 40px;
  border-radius: 50px;
}

.thumbnail-row {
  margin-bottom: 12px;
  position: relative;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 15px;
  row-gap: 35px;
}

.video-time {
  fond-family: Roboto, Arial;
  font-size: 12px;
  font-weight: 500;
  padding-left: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: black;
  position: absolute;
  bottom: 8px;
  right: 6px;
  color: white;
  border-radius: 2px;
}